<% if logged_in? %>
  <div class="row">
    <div class="col-md-7 col-md-offset-1">
      <%= render 'shared/feed' %>
    </div>
    <aside class="col-md-4 visible-lg visible-md">
      <section class="user_info home_user_info">
        <%= render 'shared/user_info' %>
      </section>
    </aside>
  </div>
<% else %>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1 id="logo"><%= link_to "Instaclone", root_url %></h1>

    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.hidden_field :email, :value => "user@example.com" %>
      <%= f.hidden_field :password, :value => "password" %>
      <%= f.hidden_field :remember_me, :value => 1 %>
      <%= f.submit "テストアカウントでログイン", class: "test_login btn" %>
    <% end %>

    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>ログイン状態を保持する</span>
      <% end %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <p>
      アカウントをお持ちでないですか？<font color="royalblue"><%= link_to "登録する", root_url %></font>
    </p>
  </div>
</div>
<% end %>
