<% provide(:title, "ログイン") %>
<div class="row">
  <div class="col-md-6" style="text-align: center;">
    <div style="font-size: 30px;">
      <h1><%= link_to("Please signup", root_path) %></h1>
      <h1>or</h1>
      <h1>Login as Example User</h1>
      <h2>email: user@example.com</h2>
      <h2 style="margin-bottom: 80px;">password: password</h2>
    </div>
  </div>
  <div class="col-md-4">
    <h1 id="logo"><%= link_to "Instaclone", root_url %></h1>
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>ログイン状態を保持する</span>
      <% end %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <p>アカウントをお持ちでないですか？
      <font color="royalblue"><%= link_to "登録する", root_url %></font>
    </p>
  </div>
</div>
